body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    /*text-transform: uppercase;*/
    /*letter-spacing: .5em;*/
    top: 15%;
	background: linear-gradient(to right, rgb(120,7,233) , rgb(252,255,46));

}

h1 {
	font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h2 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.05em;
}

input , .random {
	cursor: pointer;
}

.h3 {
    background-color: red;
    border-spacing: 100rem;
    background-size: 50%;
}

